body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  color: #636363;
}

.content {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

header {
  background: #fafafa;
  border-bottom: 1px solid #eee;
}

footer {
  background: #fafafa;
  border-bottom: 1px solid #eee;
  color: #777;
  margin: 10px;
}

section {
  /* margin-top: 50px; */
  flex: 1;
}

.load-more-button {
  display: block;
  width: 100%;
  border: none;
  background-color: #4CAF50;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
}

.tag-bar {
  margin: 10px;
  max-width: 450px;
}

.image-tag {
  display: inline-block;
  padding: 2px 10px;
  margin: 0 0 8px 12px;
  font-size: 13px;
  color: #777;
  border: 1px solid #cecece;
  border-radius: 20px;
  text-transform: lowercase;
  transition: .2s;
  cursor: pointer;
}

.grid-image-container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin-top: 5px;
  margin-bottom: 5px;
}

.grid-image-container img,
.image-view img {
  display: block;
  width: 100%;
  height: auto;
}

.grid-image-container span {
  display: none;
  position: absolute;
  bottom: 1px;
  left: 0;
  right: 0;
  padding: 10px 10px 8px;
  color: #fff;
  font-size: 14px;
  background: linear-gradient(to top,rgba(0,0,0,.6) 0,rgba(0,0,0,0) 100%);
}

.grid-image-container:hover span {
  display: inline-block;
}

.image-view {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 20px;
}

.single-image {
  padding: 10px;
}


.image-details {
  /* display: flex;
  flex-direction: row;
  flex-wrap: wrap; */
}

.user-image {
  border-radius: .5rem !important;
}

.image-summary {
  padding: 15px 20px;
  border-radius: 10px;
  background: #f7f8fa;
}

.image-summary .summary-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  color: #636363;
  line-height: 1.6;
}

.grid  {
  margin: 10px;
  display: flex;
  width: auto;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: #f7f8fa;
}

.cached-warning {
  width: 100%;
  background: #f7f8fa;
  padding: 10px 10px;
}

.cached-warning i {
  margin-left: 20px;
  margin-right: 10px;
}

.clickable {
  cursor: pointer;
}

.form-check input,
.form-check label,
.form-group select,
.form-group label {
  margin: 3px;
}
